ul {
  padding: 0;
  li {
    list-style: none;

    .edit-input-field {
      display: flex;
    }
    div .edit-class{
        margin-left:15px;
        cursor: pointer;
    }
    div .value-class{
        margin-right:15px;
    }
  }
}
